@use "../../mixins";
@use "../../../config";

.player-section {
  position: relative;
  /*border-top: solid 1px config.$neutral-color-200;*/
  background-color: white;
  box-shadow: -3px 0px 10px config.$neutral-color-200;
  z-index: 1;
  width: auto;
  min-width: 450px;
  height: calc(100vh - 61px);

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
    height: 58px;
    border-bottom: solid 1px config.$neutral-color-200;
  }

  &__main {
    height: calc(100vh - 119px);
    max-height: calc(100vh - 119px);
    overflow-y: scroll;
    padding: 20px 25px 5px 20px;
  }
}

.section {

  &__action {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .add-player {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .filter-player {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    h3 {
      margin: 0;
      font-size: 18px;
    }
  }
}