.add-player__button-icon1:hover {
  cursor: pointer;
}

.add-player__button-icon1 svg {
  width: 30px;
  height: 30px;
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}

.exercise-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index:900;
}

.excercise-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: white;
  width: 450px;
  height: 220px;
  z-index: 901;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.exercise-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
