.header-nav__button {
  border: none;
  background: none;
  font-weight: bold;
  margin-right: 10px;
  a:link {
    text-decoration: none;
  }
  .button__text {
    transition: color 0.4s ease;

  }

  &:hover {
    cursor: pointer;
    .button__text {
      color: #205a78;
    }
  }
}