@use "../../../config";

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 72px;
  height: 56px;
  padding: 2px;
  background: transparent;
  border: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }

  &__content {
    display: flex;
  }

  &[aria-pressed="true"] {
    .nav-button__icon {
      filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
    }

    .nav-button__text {
      color: config.$brandcolor-blue;
    }
}

  &__icon {
    filter: invert(49%) sepia(14%) saturate(588%) hue-rotate(139deg) brightness(99%) contrast(85%);
  }

  &__text {
    color: config.$neutral-color-500;
    font-size: 16px;
  }
}

#nav-expand-button {
  transition: 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);

    .nav-button__icon {
      filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
    }
  }

  &:active {
    background-color: rgba(0, 0, 0, .2);
  }
}