@charset "UTF-8";
/*Hier sind die Breakpoints für die Media Queries*/
/*Colors*/
/*Status / Secondary Colors*/
/*Neutral Colors*/
* {
  box-sizing: border-box;
  margin: 0;
}

/* Variable Font-Weight */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-VariableFont_wght.498b4e6b.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-Italic-VariableFont_wght.968b6b4c.woff2") format("woff2-variations");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}
.button--next {
  display: flex;
  color: white;
  background-color: #61BDAB;
  border: none;
  padding: 18px 23px 18px 45px;
  height: 24px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.button--next > .button--next__arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #61BDAB;
  border-bottom: 2px solid #61BDAB;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.button--next > .button--next__arrow::before {
  display: block;
  background-color: white;
  width: 7px;
  transform-origin: bottom right;
  height: 1.8px;
  position: absolute;
  opacity: 0;
  bottom: -1px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.button--next:hover > .button--next__arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: white;
}

.button--next:hover > .button--next__arrow::before {
  opacity: 1;
  width: 8px;
}

.change-button {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 15px;
}
.change-button:hover {
  cursor: pointer;
}
.change-button:hover .change-button__icon {
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}
.change-button__icon {
  width: 24px;
  margin: 0 5px;
}

.button--cancel {
  display: flex;
  color: #323332;
  background-color: white;
  border: none;
  padding: 18px 23px 18px 45px;
  margin-right: 15px;
  height: 24px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.button--cancel__arrow {
  position: relative;
  width: 15px;
  margin-left: 7.5px;
  cursor: pointer;
}

.button--cancel__arrow-left {
  height: 2px;
  width: 14px;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.button--cancel__arrow-right {
  height: 2px;
  width: 14px;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.button--cancel:hover .button--cancel__arrow-left {
  transform: rotate(-45deg);
  background-color: #323332;
}

.button--cancel:hover .button--cancel__arrow-right {
  transform: rotate(45deg);
  background-color: #323332;
}

.add-player__button-icon {
  width: 30px;
  height: 30px;
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}
.add-player__button-icon:hover {
  cursor: pointer;
}

.placeholder {
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 72px;
  height: 56px;
  padding: 2px;
  background: transparent;
  border: none;
  transition: 0.3s;
}
.nav-button:hover {
  cursor: pointer;
}
.nav-button__content {
  display: flex;
}
.nav-button[aria-pressed=true] .nav-button__icon {
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}
.nav-button[aria-pressed=true] .nav-button__text {
  color: #5FC2D0;
}
.nav-button__icon {
  filter: invert(49%) sepia(14%) saturate(588%) hue-rotate(139deg) brightness(99%) contrast(85%);
}
.nav-button__text {
  color: #67868A;
  font-size: 16px;
}

#nav-expand-button {
  transition: 0.3s;
}
#nav-expand-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#nav-expand-button:hover .nav-button__icon {
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}
#nav-expand-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.active-nav {
  position: absolute;
  width: 3px;
  height: 48px;
  margin-left: 1px;
  border-radius: 5px;
  background-color: #5FC2D0;
  transition-duration: 0.3s;
}

.header-nav__button {
  border: none;
  background: none;
}
.header-nav__button:hover {
  cursor: pointer;
}

.change-option {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 36px;
  width: 36px;
  border: none;
  background: none;
  cursor: pointer;
}
.change-option:hover .change-option__icon {
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}
.change-option__icon {
  width: 15px;
}

.button-focus {
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
}
.button-focus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.delete-button {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  font-size: 15px;
}
.delete-button:hover {
  cursor: pointer;
}
.delete-button:hover .delete-button__icon {
  filter: brightness(0) saturate(100%) invert(34%) sepia(97%) saturate(693%) hue-rotate(319deg) brightness(95%) contrast(80%);
}
.delete-button__icon {
  margin: 0 5px;
}

.filter-player__button {
  border: none;
  background: none;
}
.filter-player__button:hover {
  cursor: pointer;
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}

.filter-by-name {
  height: 100%;
  width: 80%;
}
.filter-by-name__input {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #283B3D;
}
.filter-by-name__input::placeholder {
  color: #C2CACC;
}
.filter-by-name__input:focus {
  outline: none;
}

.uebungskatalog-list__text {
  color: #C2CACC;
  font-size: 20px;
  overflow: hidden;
  background-image: linear-gradient(#5FC2D0, #5FC2D0);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-size: 0 1px;
}

.uebungskatalog-list__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 14.4px 10px 16px 0;
  border: none;
  background: none;
}
.uebungskatalog-list__button:hover .uebungskatalog-list__text, .uebungskatalog-list__button:focus .uebungskatalog-list__text {
  color: #5FC2D0;
  background-size: 100% 1px;
}
.uebungskatalog-list__button:hover .uebungskatalog-list__icon, .uebungskatalog-list__button:focus .uebungskatalog-list__icon {
  opacity: 1;
}

.uebungskatalog-list__icon {
  width: 14px;
  height: 14px;
  transition: opacity 0.3s;
  opacity: 0;
}

.change-section-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.change-section-holder {
  transform: translateY(-20%);
  max-width: 50vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.change-section {
  margin: auto;
  flex: 1;
  background: #E0E4E6;
  padding: 1rem 3rem;
  box-shadow: 0 0 10px #C2CACC;
}
.change-section__header {
  text-align: left;
  text-transform: uppercase;
  margin: 2rem 0;
  font-weight: 900;
}
.change-section__main-info {
  margin: 1.5rem 0;
  font-size: 12px;
}
@media (min-width: 64em) {
  .change-section__main-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 1rem;
  }
}
.change-section__buttons {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 64em) {
  .change-section__buttons {
    display: flex;
    grid-column: 2;
    justify-content: right;
  }
}
.change-section__cancel-button {
  margin-right: 16px;
}

.form-item {
  position: relative;
}
.form-item__micro {
  position: absolute;
  left: 7px;
  top: 10px;
  width: fit-content;
  background: white;
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
  z-index: 1;
  transition: top 0.3s ease;
}
.form-item__input {
  width: 100%;
  height: 48px;
  padding: 15px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #E0E4E6;
  margin-bottom: 2rem;
}
.form-item__input:focus {
  outline: none;
  border-color: #61BDAB;
}
.form-item__input:focus ~ .form-item__micro {
  color: #61BDAB;
  top: -10px;
}
.form-item__input:not(:placeholder-shown) ~ .form-item__micro {
  top: -10px;
}

.playerCard {
  padding: 10px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  grid-row-gap: 3rem;
  width: 480px;
  height: 180px;
  box-shadow: #E0E4E6 0 0 2px, #E0E4E6 0 2px 4px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: transparent;
}
.playerCard:hover:not([active=true]) {
  background-color: #E0E4E6;
  border: 1px solid #A4B1B5;
}
.playerCard[active=true] {
  background-color: #5FC2D0;
  color: white;
}
.playerCard__user {
  display: flex;
  align-items: center;
}
.playerCard__user p {
  margin: 0;
}
.playerCard__change-option {
  display: flex;
  justify-content: right;
  padding: 10px 10px 0 0;
}
.playerCard[active=true] .playerCard__change-option {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(284deg) brightness(103%) contrast(101%);
}

.user-info {
  padding: 0.5rem;
}
.user-info__specialty {
  color: #A4B1B5;
  font-size: 12px;
}

.playerCard[active=true] .user-info__specialty {
  color: white;
}

.user-name-short {
  width: 60px;
  height: 60px;
  border: 2px solid #C2CACC;
  border-radius: 50%;
  font-weight: 500;
  font-size: 20px;
  color: #A4B1B5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerCard[active=true] .user-name-short {
  color: white;
  border: 1px solid white;
}

#user-name-long {
  font-size: 14px;
}

.playerCard__swim-ability {
  width: 35px;
  margin-left: 5px;
}

.playerCard[active=true] .playerCard__swim-ability {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(284deg) brightness(103%) contrast(101%);
}

.player-info__background {
  display: block;
  height: 120px;
  width: 500px;
  padding: 10px 20px;
  border: 1px solid #E0E4E6;
  border-radius: 10px;
  box-shadow: inset 0.5em 0 #5FC2D0;
}

.player-top,
.player-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-top {
  margin-bottom: 25px;
}

.player-name h4 {
  margin: 0;
}

.col-tag {
  font-size: 14px;
  color: #C2CACC;
}

.col-info {
  font-size: 14px;
}

.player-info__attributes {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 15px;
}

.attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  border: 1px solid #A4B1B5;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.attribute-title {
  align-self: flex-start;
  margin: 0;
}

.attribute-call-for-action {
  position: absolute;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  background-image: linear-gradient(90deg, rgb(95, 194, 208) 0%, rgb(97, 189, 171) 100%);
  border-bottom: 2px solid #A7C1E3;
}

.logo h1 {
  font-size: 40px;
  color: white;
}

.navigation {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.navigation:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.navigation:hover .nav-button__icon {
  filter: invert(73%) sepia(29%) saturate(609%) hue-rotate(139deg) brightness(89%) contrast(94%);
}
.navigation:hover .nav-button__text {
  color: #5FC2D0;
}
.navigation:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-button__text {
  transition: 0.3s;
}

#nav-menu[aria-expanded=true] .nav-button__text {
  display: block;
}

#nav-menu[aria-expanded=false] .nav-button__text {
  display: none;
}

.change-option-popUp {
  display: block;
  padding: 5px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: #E0E4E6 0 0 2px, #E0E4E6 0 2px 4px;
  z-index: 3;
}
.change-option-popUp .change-button:hover,
.change-option-popUp .delete-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.change-option-popUp .change-button__icon,
.change-option-popUp .delete-button__icon {
  filter: brightness(0) saturate(100%) invert(17%) sepia(34%) saturate(436%) hue-rotate(137deg) brightness(96%) contrast(86%);
}

input[type=file]::file-selector-button {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  color: transparent;
}

input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  color: transparent;
  cursor: pointer;
}

.add-player-csv__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.uebungskatalog-list {
  padding: 0 28px;
  width: 525px;
}
.uebungskatalog-list .uebungskatalog-list__text {
  color: #C2CACC;
}

.player-section {
  position: relative;
  /*border-top: solid 1px config.$neutral-color-200;*/
  background-color: white;
  box-shadow: -3px 0px 10px #E0E4E6;
  z-index: 1;
  width: auto;
  min-width: 450px;
  height: calc(100vh - 61px);
}
.player-section__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 25px;
  height: 58px;
  border-bottom: solid 1px #E0E4E6;
}
.player-section__main {
  height: calc(100vh - 119px);
  max-height: calc(100vh - 119px);
  min-width: 525px;
  overflow-y: scroll;
  padding: 20px 25px 5px 20px;
}

.section__action {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__action .add-player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__action .filter-player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__title h3 {
  margin: 0;
  font-size: 18px;
}

.uebersicht-section {
  position: relative;
  /*border-top: solid 1px config.$neutral-color-200;*/
  box-shadow: -3px 0px 10px #E0E4E6;
  z-index: 2;
  background-color: white;
  min-width: 525px;
  height: calc(100vh - 61px);
}
.uebersicht-section__header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 25px;
  height: 58px;
  border-bottom: solid 1px #E0E4E6;
}
.uebersicht-section__header h3 {
  margin: 2.5px;
  font-size: 18px;
}
.uebersicht-section__main {
  display: block;
  padding: 50px 25px 5px 20px;
}

.attribute-schwimmfaehigkeit {
  grid-column: 2 span;
}

.nav-menu {
  position: relative;
  /*border: solid 1px config.$neutral-color-200;*/
  background-color: #FFFFFF;
  height: calc(100vh - 61px);
  width: 72px;
  transition-duration: 0.3s;
}
.nav-menu[aria-expanded=true] {
  width: 300px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__text {
  color: white;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: -3px 0px 10px #E0E4E6;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
}

@media (min-width: 48em) {
  body {
    overflow-y: scroll;
  }
}

img {
  display: block;
  max-width: 100%;
  border: none;
}

.trainer-atlethe-theme {
  background: #61BDAB;
}

#main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.content {
  display: flex;
  width: 100%;
}

.overall {
  display: flex;
  width: 100%;
}

.player-info__background {
  margin-bottom: 40px;
}

#playerCard-detail[hidden=true] {
  display: none;
}

.flex-1 {
  flex: 1;
}

/*# sourceMappingURL=/main.07544d9b.css.map */