@use "../../../config";

.player-info__background {
  display: block;
  height: 120px;
  width: 500px;
  padding: 10px 20px;
  border: 1px solid config.$neutral-color-200;
  border-radius: 10px;
  box-shadow: inset 0.5em 0 config.$brandcolor-blue;
}

.swim-certificate-info__background {
  display: block;
  height: 120px;
  width: 300px;
  padding: 10px 20px;
  border: 1px solid config.$neutral-color-200;
  border-radius: 10px;
  box-shadow: inset -0.5em 0 config.$brandcolor-blue;
}

.player-top,
.player-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swim-certificate-top,
.swim-certificate-bottom {
  display: flex;
  justify-content: space-between;
}
.swim-form{
  padding: 6px;
  border-radius: 10px;
  width: auto;
  height: 33px;
  cursor: pointer;
  font-size: 14px;
}

.baestaetigen-button{
  width: 90px;
  border-radius: 10px;
  background-color: #5FC2D0;
  color: white;
  margin-left: 12px;
  border:none; height: 33px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.baestaetigen-button:hover {
  background-color: #47a3b0;
}

.baestaetigen-button:active {
  transform: scale(0.95);
  background-color: #39929e;
}

.player-top {
  margin-bottom: 25px;
}

.swim-certificate-top {
  margin-bottom: 25px;
}

.player-name h4 {
  margin: 0;
}
.swim-title h4{
  margin: 0;
}

.col-tag {
  font-size: 14px;
  color: config.$neutral-color-300;
}
.col-info {
  font-size: 14px;
}
