@use "../../../config";

.player-info__background {
  display: block;
  height: 120px;
  width: 500px;
  padding: 10px 20px;
  border: 1px solid config.$neutral-color-200;
  border-radius: 10px;
  box-shadow: inset 0.5em 0 config.$brandcolor-blue;
}

.player-top,
.player-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-top {
  margin-bottom: 25px;
}

.player-name h4 {
  margin: 0;
}

.col-tag {
  font-size: 14px;
  color: config.$neutral-color-300;
}
.col-info {
  font-size: 14px;
}
