@use "../../../config";

table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}

.tableHeader {
  color: #fff;
}

th,
td {
  padding: 15px;
  color: config.$neutral-color-100;
  text-align: center;
}

tr {
  background-color: rgba(97,189,171,0.6);
  transition: color 1s ease;
}

thead {
  th {
    background-color: config.$brandcolor-green;
  }
}

.white-background {
  background-color: rgba(97,189,171,0.4)
}