/*Hier sind die Breakpoints für die Media Queries*/

//Small smartphones
$screen-xs-max: 36em;

//Small tablets and large smartphones
$screen-sm-min: 36em;

//Small tablets
$screen-md-min: 48em;

//Tablets and small desktops
$screen-lg-min: 64em;

//Large Tablets and large desktops
$screen-xl-min: 80em;